.forgot-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(157, 185, 185);
}

.forgot-password-container h1 {
  margin-bottom: 16px;
  font-size: 30px;
  font-weight: bolder;
}

.forgot-password-container form {
  width: 300px;
}

.forgot-password-container button {
  width: 300px;
  border-radius: 6px;
  background-color: blue;
  font-weight: bolder;
}

.form-box {
  border: 12px solid orange;
  padding: 40px;
  background-color: orange;
  border-radius: 15px;
}